*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background:linear-gradient(135deg,#a18cd1 , #fbc2eb);
  height:100vh;
   
}
.wrapper{
   display: flex;
   justify-content: space-between;  
    
}

.chat{
   margin-top: 25vh;
   margin-left: 2%;
   font-size: 1.5rem;
   color:#333;
}

.contact{
   margin:60px 30px;
  }
  .contactText{
   text-align: center;
  }
form{
    padding:30px;
    background-color: white;
}

form input{
   padding:10px;
   margin:4px;
   box-sizing: border-box;
}

.button{
   display:flex;
   align-items: center;
   justify-content: center;
   margin-top: 6px;
}
button{
   padding:8px;
   border:none;
}

button:hover{
   background-color:#5ee7df;
   transform: scale(1.1,1.1);
}


@media screen and (max-width:600px){
   .wrapper{
      
      display: flex;
    
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   form{
  
    padding:15px;
    background-color: white;
  
   
    
}
form input{
  width:100%;
  border: 1px solid black;
  box-sizing: border-box;
  max-width:300px; 

}

form p{
   padding:6px;
}

.chat{
   margin-top: 5vh;
   margin-left: 2%;
   font-size: 1rem;
   color:#333;
}


}

